html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

input, textarea, select {
  font-family: inherit;
  font-size: 16px;
}

input[type=button], input[type=text], input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th, td {
  border-collapse: collapse;
}

table th, table td {
  white-space: nowrap;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

html {
  background-color: #fbfbfb;
  color: #2B3D4F;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.pc-on {
  display: block;
}

.tb-on {
  display: block;
}

.sp-on {
  display: none;
}

@media screen and (max-width: 920px) {
  .pc-on {
    display: none;
  }
  .tb-on {
    display: block;
  }
  .sp-on {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .pc-on {
    display: none;
  }
  .tb-on {
    display: none;
  }
  .sp-on {
    display: block;
  }
}
.site-logo {
  display: flex;
  align-items: center;
  justify-content: left;
}
.site-logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.site-logo p {
  font-size: 24px;
  color: #EDF1F2;
  text-shadow: 2px 4px 4px #F2CB07;
  font-family: "Inria Serif", serif;
  font-style: italic;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .site-logo img {
    width: 50px;
    height: 50px;
  }
  .site-logo p {
    font-size: 20px;
  }
}
.instagram {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 13px;
}
.instagram img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.instagram span {
  color: #EDF1F2;
  font-family: "Inria Serif", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .instagram {
    justify-content: center;
    margin-bottom: 20px;
  }
}
.c-section-title {
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
  color: #0C2C83;
  font-family: "Noto Serif JP", serif;
  text-align: center;
}
.c-section-title--ja {
  font-weight: bold;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-section-title--ja::before, .c-section-title--ja::after {
  content: "";
  width: calc(40% - 20px);
  height: 4px;
  background-color: #0C2C83;
}
.c-section-title--ja::before {
  margin-right: 20px;
}
.c-section-title--ja::after {
  margin-left: 20px;
}
.c-section-title--en {
  display: block;
  text-align: center;
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .c-section-title--ja {
    font-size: 30px;
  }
  .c-section-title--ja::before, .c-section-title--ja::after {
    content: "";
    width: calc(50% - 20px);
    height: 2px;
  }
  .c-section-title--ja::before {
    margin-right: 10px;
  }
  .c-section-title--ja::after {
    margin-left: 10px;
  }
  .c-section-title--en {
    font-size: 20px;
  }
}
.c-section-title--left {
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
  color: #0C2C83;
  font-family: "Noto Serif JP", serif;
  text-align: center;
}
.c-section-title--left--ja {
  font-weight: bold;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-section-title--left--ja::after {
  content: "";
  width: calc(100% - 20px);
  height: 4px;
  background-color: #0C2C83;
}
.c-section-title--left--ja::after {
  margin-left: 20px;
}
.c-section-title--left--en {
  display: block;
  text-align: left;
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .c-section-title--left--ja {
    font-size: 30px;
  }
  .c-section-title--left--ja::before, .c-section-title--left--ja::after {
    content: "";
    width: calc(50% - 20px);
    height: 2px;
  }
  .c-section-title--left--en {
    font-size: 20px;
  }
}
.c-section-title--right {
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
  color: #0C2C83;
  font-family: "Noto Serif JP", serif;
  text-align: center;
}
.c-section-title--right--ja {
  font-weight: bold;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-section-title--right--ja::before {
  content: "";
  width: calc(100% - 20px);
  height: 4px;
  background-color: #0C2C83;
}
.c-section-title--right--ja::before {
  margin-right: 20px;
}
.c-section-title--right--en {
  display: block;
  text-align: right;
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .c-section-title--right--ja {
    font-size: 30px;
  }
  .c-section-title--right--ja::before, .c-section-title--right--ja::after {
    content: "";
    width: calc(50% - 20px);
    height: 2px;
  }
  .c-section-title--right--en {
    font-size: 20px;
  }
}
.l-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.l-header {
  width: 100%;
  height: 90px;
  background-color: #1F4C98;
}
.l-header__inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-header .site-logo {
  opacity: 1;
}
.l-header .site-logo.hide {
  opacity: 0;
}
.l-header__menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-header__menu-item a {
  color: #EDF1F2;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Inria Serif", serif;
}
.l-header__menu-item:not(:last-child) {
  margin-right: 20px;
}
.l-header__hamburgur {
  height: 28px;
  width: 50px;
}
.l-header__hamburgur span {
  display: block;
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: #FFF500;
}
.l-header__hamburgur span:nth-child(2n) {
  margin: 8px 0;
}
.l-header__hamburgur.open {
  position: relative;
}
.l-header__hamburgur.open span:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
}
.l-header__hamburgur.open span:nth-child(2n) {
  display: none;
}
.l-header__hamburgur.open span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
}
.l-header__menu, .l-header__close {
  color: #FFF500;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  font-family: "Inria Serif", serif;
  margin-top: 3px;
}
.l-header__menu {
  display: block;
}
.l-header__menu.open {
  display: none;
}
.l-header__close {
  display: none;
}
.l-header__close.open {
  display: block;
}

@media screen and (max-width: 768px) {
  .l-header {
    height: 70px;
  }
}
.l-contact {
  width: 100%;
  background-color: #3398DB;
}
.l-contact__inner {
  max-width: 1200px;
  padding: 50px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-contact__title {
  text-align: left;
  color: #EDF1F2;
  font-family: "Inria Serif", serif;
  font-weight: bold;
  font-size: 80px;
}
.l-contact__right {
  max-width: 600px;
}
.l-contact__text {
  margin-bottom: 20px;
  text-align: center;
  color: #EDF1F2;
  font-family: "Noto Serif JP", serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-contact__text::before, .l-contact__text::after {
  content: "";
  width: 2px;
  height: 30px;
  background-color: #EDF1F2;
}
.l-contact__text::before {
  margin-right: 20px;
  transform: rotate(-35deg);
}
.l-contact__text::after {
  margin-left: 20px;
  transform: rotate(35deg);
}
.l-contact__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 17px 115px;
  background-color: #fbfbfb;
  border: solid 2px #000;
  text-align: center;
  color: #000;
  font-family: "Inria Serif", serif;
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .l-contact__inner {
    display: block;
  }
  .l-contact__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 60px;
  }
  .l-contact__right {
    max-width: auto;
    margin: 0 auto;
  }
  .l-contact__text {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .l-contact__text::before, .l-contact__text::after {
    content: "";
    width: 2px;
    height: 60px;
  }
  .l-contact__btn {
    max-width: 400px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 17px 80px;
    font-size: 20px;
  }
}
.l-footer {
  width: 100%;
  background-color: #1F4C98;
}
.l-footer__inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-footer__nav {
  margin-bottom: 13px;
}
.l-footer__menu-list {
  display: flex;
  align-items: center;
  justify-content: right;
}
.l-footer__menu-item a {
  color: #EDF1F2;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Inria Serif", serif;
}
.l-footer__menu-item:not(:last-child) {
  margin-right: 20px;
}
.l-footer .instagram {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 13px;
}
.l-footer .instagram img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.l-footer .instagram span {
  color: #EDF1F2;
  font-family: "Inria Serif", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
}
.l-footer__copy {
  text-align: right;
  color: #EDF1F2;
  font-family: "Inria Serif", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .l-footer__inner {
    padding: 20px;
    display: block;
  }
  .l-footer .site-logo {
    margin-bottom: 20px;
    justify-content: center;
  }
  .l-footer__nav {
    margin-bottom: 20px;
  }
  .l-footer__menu-list {
    justify-content: center;
  }
  .l-footer__menu-item a {
    font-size: 14px;
  }
  .l-footer__menu-item:not(:last-child) {
    margin-right: 10px;
  }
  .l-footer .instagram {
    justify-content: center;
    margin-bottom: 20px;
  }
  .l-footer__copy {
    text-align: center;
  }
}
.l-sp-menu {
  max-width: 768px;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #1F4C98;
  border-top: solid 1px #EDF1F2;
  display: none;
}
.l-sp-menu .site-logo {
  justify-content: center;
  padding: 30px 0;
}
.l-sp-menu__nav {
  margin-bottom: 30px;
}
.l-sp-menu__menu-list {
  padding: 30px 0;
  border-top: solid 1px #EDF1F2;
  border-bottom: solid 1px #EDF1F2;
}
.l-sp-menu__menu-item a {
  color: #EDF1F2;
  font-size: 24px;
  font-weight: bold;
  font-family: "Inria Serif", serif;
  text-align: center;
}
.l-sp-menu__menu-item:not(:last-child) {
  margin-bottom: 20px;
}
.l-sp-menu .instagram {
  justify-content: center;
}

.l-sp-menu.appear {
  display: block;
}

#contact {
  margin: 100px auto;
}

.p-contact__form {
  max-width: 800px;
  margin: 0 auto;
}
.p-contact__form__text {
  margin: 60px 0;
  color: #2B3D4F;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  font-weight: normal;
  font-weight: bold;
}
.p-contact__form__title {
  color: #0C2C83;
  font-size: 30px;
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
}
.p-contact__form__item {
  margin-top: 20px;
}
.p-contact__form__item .required {
  margin: 0 15px 0px 0px;
  padding: 3px 10px;
  color: #EDF1F2;
  background-color: #FF0B0B;
  font-size: 12px;
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
}
.p-contact__form__item p {
  margin: 0 0 10px 10px;
  color: #2B3D4F;
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
}
.p-contact__form__item input, .p-contact__form__item textarea {
  width: calc(100% - 24px);
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
  border: solid 2px #000;
}
.p-contact__form__item.button {
  width: 100%;
  margin-top: 0;
  text-align: center;
}
.p-contact__form__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 0;
  padding: 8px 68px;
  border: solid 1px #0C2C83;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 45px;
  color: #EDF1F2;
  background-color: #0C2C83;
  font-size: 30px;
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #contact {
    margin: 60px auto;
  }
  .p-contact__form__text {
    margin: 30px 0;
    font-size: 16px;
  }
  .p-contact__form__title {
    font-size: 24px;
  }
  .p-contact__form__item .required {
    margin: 0 10px 0px 0px;
    padding: 2px 8px;
    font-size: 10px;
  }
  .p-contact__form__item p {
    margin: 0 0 5px 10px;
    font-size: 14px;
  }
  .p-contact__form__item input, .p-contact__form__item textarea {
    font-size: 14px;
  }
  .p-contact__form__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 30px auto 0;
    padding: 7px 55px;
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */