@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

input, textarea, select {
  font-family: inherit;
  font-size: 16px;
}

input[type=button], input[type=text], input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th, td {
  border-collapse: collapse;
}

table th, table td {
  white-space: nowrap;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

html {
  color: #fff;
  font-family: "Hiragino Maru Gothic ProN";
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

.lp-wrap {
  background-color: #C2CFFC;
  max-width: 500px;
  margin: 0 auto;
}

.c-button {
  background-color: #FFF9B1;
  width: 200px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}
.c-button span {
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
  color: #699cd0;
  border-left: solid 2px #699cd0;
  padding-left: 10px;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font-orange {
  color: #FF953B;
  display: inline-block;
}

.font-purple {
  color: #C678F1;
  display: inline-block;
}

.font-sky {
  color: #73D0FF;
  display: inline-block;
}

.font-pink {
  color: #FFAAE7;
  display: inline-block;
}

.font-red {
  color: #FF0000;
  display: inline-block;
}

.font-white {
  color: #FFf;
  display: inline-block;
}

.menu {
  width: 100vw;
  height: calc(100vh - 80px);
  margin-top: 80px;
  display: none;
  opacity: 0;
  z-index: 9000;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}
.menu__wrapper {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu__list__child {
  text-align: center;
  margin-bottom: 30px;
}
.menu__item {
  width: 100%;f
}
.menu__item a {
  width: 100%;
  color: #383737;
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #383737;
}
.menu__item--weblp a {
  color: #64A5FF;
}
.menu__item--eclp a {
  color: #FF5D5D;
}
.menu__item--linelp a {
  color: #6AC16A;
}
.menu__item--modellp a {
  color: #EA53F0;
}
.menu__item span {
  display: inline-block;
}
.menu__item:nth-child(n+3) {
  margin-top: 0px;
}
.menu__item:nth-child(2n) {
  margin-left: 0px;
}
.menu__item:not(:last-child) {
  margin-bottom: 12px;
}
.menu__instagram {
  width: 135px;
  height: 34px;
  margin: 0 auto;
}

.sp-menu.open {
  display: block;
  opacity: 1;
}

.l-header {
  max-width: 500px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  color: #3E87FD;
  position: fixed;
  background-color: #C2CFFC;
  top: 0;
  z-index: 9999;
}
.l-header__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.l-header__logo {
  font-family: "Hiragino Maru Gothic ProN";
  font-weight: normal;
  font-size: 60px;
  text-align: left;
  color: #fff;
  margin-left: 10px;
}
.l-header__name {
  font-family: "Hiragino Maru Gothic ProN";
  font-weight: normal;
  font-size: 33px;
  line-height: 22px;
  text-align: left;
  color: #fff;
}
.l-header__hamburger {
  margin: 0 20px 0px 0;
}
.l-header__hamburger span {
  display: block;
  width: 30px;
  height: 1.5px;
  background-color: #fff;
  transition: all 0.4s;
  position: relative;
  margin: 0 auto;
}
.l-header__hamburger span:nth-of-type(2) {
  margin: 7.5px auto;
}
.l-header__hamburger.open span:nth-of-type(1) {
  transform: rotate(45deg);
}
.l-header__hamburger.open span:nth-of-type(2) {
  transform: rotate(-45deg);
  bottom: 8px;
}
.l-header__menu {
  font-family: "Yantramanav";
  color: #fff;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

.l-footer {
  margin-top: 133px;
  color: #fff;
  position: relative;
  padding: 0 0 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
.l-footer__contain {
  max-width: 430px;
  margin: 0 auto;
}
.l-footer__company {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}
.l-footer__company span {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
}
.l-footer__asterisk {
  font-family: "Aglet Slab";
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.l-footer__wrap {
  margin-bottom: 45px;
}
.l-footer__col__child {
  text-align: center;
}
.l-footer__col__child a {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  color: #fff;
}
.l-footer__col__child a:first-child {
  border-right: solid 1px #fff;
  margin-right: 16px;
  padding-right: 16px;
}
.l-footer__address {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}
.l-footer__nav {
  margin-bottom: 40px;
}
.l-footer__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 228px;
  margin: 0 auto 40px;
}
.l-footer__link a {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  color: #fff;
}
.l-footer__link {
  width: calc(50% - 10px);
}
.l-footer__link a {
  width: 100%;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  display: block;
  color: #fff;
}
.l-footer__link:nth-child(2n-1) {
  margin-right: 20px;
}
.l-footer__link:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 20px;
}
.l-footer__instagram {
  width: 135px;
  height: 34px;
  margin: 0 auto 75px;
}
.l-footer__copyright {
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}

.p-fv {
  width: 100%;
}
.p-fv__wrap {
  height: 343px;
  background-image: url(../img/top-fv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 80px;
  position: relative;
}
.p-fv__catch {
  font-weight: normal;
  font-size: 22px;
  text-align: left;
  letter-spacing: 13px;
  color: #fa7eff;
  writing-mode: vertical-rl;
  white-space: nowrap;
}
.p-fv__catch span {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.p-fv__catch span:last-child {
  margin-bottom: 20px;
}
.p-fv__catch.--1 {
  position: absolute;
  top: 10px;
  left: 20px;
}
.p-fv__catch.--2 {
  position: absolute;
  top: 10px;
  left: 50px;
}
.p-fv__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #fff;
  margin-top: 201px;
  padding: 0 28px;
}

.p-point {
  margin-top: 61px;
}
.p-point__title {
  font-family: "Hiragino Maru Gothic ProN";
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  margin: 0 auto 6.5px;
  width: 287px;
  border-bottom: solid 2px #FCBAFF;
}
.p-point__item {
  position: relative;
  width: 130px;
  margin: 0 auto;
}
.p-point__item img {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  z-index: 10;
}
.p-point__item--1 {
  margin-top: 90px;
}
.p-point__item--2 {
  margin-top: 146px;
}
.p-point__item--3 {
  margin-top: 119px;
}
.p-point__circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
}
.p-point__circle--pink {
  background-color: #F2C7EB;
  top: 30%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.p-point__circle--blue {
  background-color: #9DA1FF;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.p-point__circle--purple {
  background-color: #FA7EFF;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.p-chance {
  margin-top: 145px;
}
.p-chance__title {
  font-family: YuMincho, "Yu Mincho", serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 34px;
  text-align: left;
  color: #8d7eff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 58px;
}
.p-chance__title span {
  display: block;
  padding: 0 5px 6.5px;
  border-bottom: solid 2px #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.p-chance__title--bottom {
  margin-left: 71px;
}
.p-chance__img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 16px;
}
.p-chance__foot {
  font-weight: normal;
  font-size: 31px;
  line-height: 47px;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
  padding: 0 23px;
}
.p-chance__text {
  font-family: "Hiragino Maru Gothic ProN";
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #fff;
  padding: 0 28px;
}

.p-flow {
  margin-top: 80px;
}
.p-flow__title {
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  text-align: center;
  color: #fff;
}
.p-flow__item {
  margin-top: 90px;
}
.p-flow__wrap {
  display: flex;
  justify-content: left;
  padding: 0 30px;
}
.p-flow__number {
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #F2C7EB;
  border-radius: 20px;
}
.p-flow__subtitle--1 {
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin-left: 34px;
}
.p-flow__subtitle--2 {
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  margin-left: 26px;
}
.p-flow__subtitle--3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;
  margin-left: 46px;
}
.p-flow__information {
  font-family: YuGothic, "Yu Gothic", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 53px auto 0;
}
.p-flow .c-button {
  margin-top: 99px;
}

.p-apply {
  margin-top: 86px;
  padding: 0 16px;
}
.p-apply__title {
  font-weight: normal;
  font-size: 27px;
  line-height: 35px;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}
.p-apply__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #fff;
}

.p-contact {
  margin-top: 66px;
}
.p-contact__title {
  font-family: "Hiragino Maru Gothic ProN";
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.p-contact__text {
  font-family: YuGothic, "Yu Gothic", serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto 0;
}
.p-contact .c-button {
  margin-top: 78px;
}
/*# sourceMappingURL=style.css.map */