// 変数読み込み
@use "../common/variable" as var;


// works
#works{
    margin: 100px auto;
}
// archive-works
.p-archive-works {
    &__list {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    // works-item
    &__item {
        display: block;
        width: calc(100% / 2 - 15px);
    }
    &__item:not(:nth-child(2n)) {
        margin-right: 30px;
    }
    &__item:nth-child(n + 3) {
        margin-top: 30px;
    }

    // サムネイル
    &__img{
        margin-bottom: 15px;
        width: 100%;
        height: fit-content;
        vertical-align: bottom;
    }
    &__title {
        margin-bottom: 15px;
        color: var.$black-font;
        font-size: 20px;
        font-weight: bold;
        font-family: var.$font-ja;
    }
    &__skill {
        margin-bottom: 15px;
        color: var.$black-font;
        font-size: 16px;
        font-weight: bold;
        font-family: var.$font-ja;
    }
    &__text {
        color: var.$black-font;
        font-size: 16px;
        font-weight: bold;
        font-family: var.$font-ja;
    }

}
@media screen and (max-width:768px) {
    #works{
        margin: 50px auto;
    }
    // archive-works
    .p-archive-works {
        &__list {
            display: block;
        }
        // works-item
        &__item {
            width: 100%;
        }
        &__item:not(:nth-child(2n)) {
            margin-right: 00px;
        }
        &__item:nth-child(n + 3) {
            margin-top: 00px;
        }
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    
        // サムネイル
        &__img{
            margin-bottom: 10px;
        }
        &__title {
            margin-bottom: 10px;
            font-size: 20px;
        }
        &__skill {
            margin-bottom: 10px;
            font-size: 14px;
        }
        &__text {
            font-size: 14px;
        }
    
    }
}

// single-works
.p-single-works {
    &__content {
        max-width: 1000px;
        margin: 30px auto 0;
    }
    &__tags {
        margin-bottom: 10px;
        text-align: left;
    }
    &__tag {
        color: var.$black-font;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        font-family: var.$font-ja;
    }
    &__tag:not(:last-child) {
        margin-right: 10px;
    }
    &__title {
        margin-bottom: 20px;
        color: var.$black-font;
        text-align: left;
        font-size: 30px;
        font-weight: bold;
        font-family: var.$font-ja;
    }
    &__img {
        margin-bottom: 20px;
        width: 100%;
        height: fit-content;
        vertical-align: bottom;
    }
    &__data {
        margin-bottom: 5px;
        color: var.$black-font;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        font-family: var.$font-ja;
    
    }
    &__text {
        margin-bottom: 20px;
        color: var.$black-font;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        font-family: var.$font-ja;
    }
    &__skill {
        margin-bottom: 10px;
        color: var.$black-font;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        font-family: var.$font-ja;
    }
}
@media screen and (max-width:768px) {
.p-single-works {
    &__content {
        margin: 20px auto 0;
    }
    &__tag {
        font-size: 12px;
    }
    &__tag:not(:last-child) {
        margin-right: 5px;
    }
    &__title {
        margin-bottom: 10px;
        font-size: 20px;
    }
    &__img {
        margin-bottom: 10px;
    }
    &__text {
        font-size: 14px;
    }
    &__skill {
        font-size: 12px;
    
    }
}
}