@use "variable" as var;

// 共通設定
html{
    background-color: var.$white-bg;
    color: var.$black-font;
}

main{
  padding-top: 90px;
}
@media screen and (max-width:768px) {
  main{
    padding-top: 70px;
  }
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
}

// l-inner
.l-inner{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

// デバイスでのオンオフ
.pc-on{
  display: block;
}
.tb-on{
  display: none;
}
.sp-on{
  display: none;
}
@media screen and (max-width:920px) {
  .pc-on{
    display: none;
  }
  .tb-on{
    display: block;
  }
  .sp-on{
    display: none;
  }
}
@media screen and (max-width:768px) {
  .pc-on{
    display: none;
  }
  .tb-on{
    display: block;
  }
  .sp-on{
    display: block;
  }
}

// サイトロゴ
.site-logo {
  display: flex;
  align-items: center;
  justify-content: left;
  img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  p{
    font-size: 24px;
    color: var.$white-font;
    text-shadow: 2px 4px 4px var.$yellow-font;
    font-family: var.$font-en;
    font-style: italic;
    font-weight: bold;
  }
}
@media screen and (max-width:768px) {
  .site-logo {
    img{
      width: 50px;
      height: 50px;
    }
    p{
      font-size: 20px;
    }
  }
}

// インスタグラム
.instagram {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 13px;
  img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  span{
    color: var.$white-font;
    font-family: var.$font-en;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
  }
}
@media screen and (max-width:768px) {
    // インスタグラム
    .instagram {
      justify-content: center;
      margin-bottom: 20px;
    }
}

// 中央寄せタイトル
.c-section-title {
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
  color: var.$blue-font;
  font-family: var.$font-ja;
  text-align: center;
  &--ja{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 48px;
    // 文字の装飾
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--ja::before,
  &--ja::after {
    content: '';
    width: calc(40%);
    height: 4px;
    background-color: var.$blue-font;
  }
  
  &--ja::before {
    margin-right: 20px;
  }
  &--ja::after {
    margin-left: 20px;
  }
  &--en{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
  }
  
}
@media screen and (max-width:768px) {
  .c-section-title {
    // 日本語
    &--ja{
      margin-bottom: 5px;
      font-size: 25px;
    }
    &--ja::before,
    &--ja::after {
      content: '';
      width: calc(50%);
      height: 2px;
    }
    &--ja::before {
      margin-right: 15px;
    }
    &--ja::after {
      margin-left: 15px;
    }

    // 英語
    &--en{
      font-size: 20px;
    }
    
  }
}

// 左寄せタイトル
.c-section-title--left {
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
  color: var.$blue-font;
  font-family: var.$font-ja;
  text-align: center;
  &--ja{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 48px;
    // 文字の装飾
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--ja::after{
    content: '';
    width: calc(100%);
    height: 4px;
    background-color: var.$blue-font;
  }
  
  &--ja::after {
    margin-left: 20px;
  }
  &--en{
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 36px;
  }

}
@media screen and (max-width:768px) {
  .c-section-title--left {
    // 日本語
    &--ja{
      font-size: 25px;
    }
    &--ja::before,
    &--ja::after {
      content: '';
      width: calc(50% - 20px);
      height: 2px;
    }

    // 英語
    &--en{
      font-size: 20px;
    }
  
  }
}

// 右寄せタイトル
.c-section-title--right {
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
  color: var.$blue-font;
  font-family: var.$font-ja;
  text-align: center;
  &--ja{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 48px;
    // 文字の装飾
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--ja::before{
    content: '';
    width: calc(100% - 20px);
    height: 4px;
    background-color: var.$blue-font;
  }
  
  &--ja::before {
    margin-right: 20px;
  }
  &--en{
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 36px;
  }

}
@media screen and (max-width:768px) {
  .c-section-title--right {
    // 日本語
    &--ja{
      font-size: 25px;
    }
    &--ja::before,
    &--ja::after {
      content: '';
      width: calc(50% - 20px);
      height: 2px;
    }

    // 英語
    &--en{
      font-size: 20px;
    }
  
  }
}

// pager
.c-pager {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__arrow {
    width: 30px;
    height: 30px;
    border: solid 1px var.$blue-font;
    
    // 位置調整
    position: relative;
  
    span{
      color: var.$blue-font;
      font-size: 15px;
      font-weight: bold;
      font-family: var.$font-ja;
  
      // 位置調整
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
  }
  &__arrow:not(:last-child) {
      margin-right: 10px;
  }
  &__arrow:hover{
    background-color: var.$blue-bg;
    transition: all 0.3s;
  
    span{
      color: var.$white-font;
    }
  }
}

// ボタン
.c-button{
  width: fit-content;
  margin: 34px auto 0;
  padding: 8px 68px;
  border: solid 1px var.$blue-font;
  box-shadow: 4px 4px 4px rgba($color: var.$black-bg, $alpha: 0.5);
  border-radius: 45px;
  color: var.$white-font;
  background-color: var.$blue-font;
  font-size: 30px;
  font-family: var.$font-ja;
  font-weight: bold;
  transition: all 0.3s;
}
.c-button:hover{
  box-shadow: none;
}
@media screen and (max-width:920px) {
    .c-button{
      width: fit-content;
      margin: 30px auto 0;
      padding: 7px 55px;
      font-size: 20px;
    }
}

// フェードイン画面
.loading {
  width: 100%;
  height: 100vh;
  background-color: var.$blue-bg;
  position: fixed;
  top: 0;
  z-index: 9999;

  &__inner{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__load {
    color: var.$yellow-font;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: var.$font-en;
  }
  &__logo {
    margin: 30px auto 0;
    width: 300px;
    height: 300px;
  }
  &__percent {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg:not(:root){
      overflow: hidden;
    }

    .progressbar-text{
      margin-top: 20px;
      text-align: center;
      color: var.$yellow-font;
      font-size: 50px;
      font-weight: bold;
      font-style: italic;
      font-family: var.$font-en;
    }
  
  }

}
@media screen and (max-width:768px) {
  .loading {
  
    &__inner{
      top: 50%;
    }
    
    &__load {
      font-size: 40px;
      white-space: nowrap;
    }
    &__logo {
      margin: 20px auto 0;
      width: 250px;
      height: 250px;
    }
    &__percent {
      position: absolute;
      top: 84%;
      left: 50%;
      transform: translate(-50%, -50%);
      svg:not(:root){
        overflow: hidden;
      }
  
      .progressbar-text{
        margin-top: 30px;
        font-size: 40px;
      }
    
    }
  
  }
}

// フェードイン
.fadeIn {
  transform: translate3d(0, 50px, 0);
  transition: 1s;
  opacity: 0;
}
.fadeIn.animated {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}