// color
$white-bg: #fbfbfb;
$white-font: #EDF1F2;
$blue-bg: #1F4C98;
$blue-font: #0C2C83;
$skyblue-bg: #3398DB;
$red-bg: #FF0B0B;
$black-bg: #000;
$black-font: #2B3D4F;
$yellow-bg: #FFF500;
$yellow-font: #F2CB07;

// font
$font-en: "Inria Serif", serif;
$font-ja: "Noto Serif JP", serif;